/* Resetting browser defaults */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Inter", Arial, sans-serif;
  width: 100%;
  line-height: 1.5;
}

img {
  max-width: 100%;
  /* max-height: 100%; */
  display: block;
}

ul {
  list-style-type: none;
}

/* Navbar/Header Section */
#header {
  width: 100%;
  background-color: #f1f5f9;
}

#nav {
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#logo {
  font-size: 1.4rem;
}

#menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu-item > a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  color: black;
  letter-spacing: 1.6px;
}

@media screen and (min-width: 768px) {
  #nav {
    height: 60px;
    flex-direction: row;
  }
  #menu {
    justify-content: flex-end;
    gap: 16px;
  }
}

/* Hero Section */

#hero {
  width: 100%;
  min-height: 500px;
  background-color: #f1f5f9;
  padding: 32px 0;
}

#hero-children {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 16px;
}

#hero-cta {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#hero-heading-text {
  font-size: 1.4rem;
}

#hero-subheading-text {
  color: #64748b;
  font-size: 0.9rem;
  letter-spacing: 0.9px;
  line-height: 25px;
}

#hero-img {
  overflow: hidden;
}

#hero-img > img {
  border-radius: 6px;
}

.cta-btn {
  width: fit-content;
  padding: 12px 48px;
  background-color: #ef4444;
  color: white;
  border-radius: 8px;
  display: inline-block;
  margin-top: 12px;
}

@media screen and (min-width: 768px) {
  #hero {
    min-height: auto;
    padding: 48px 0;
  }

  #hero-heading-text {
    font-size: 1.2rem;
  }

  #hero-subheading-text {
    line-height: 20px;
    font-size: 0.8rem;
  }

  #hero-children {
    flex-direction: row;
    min-height: auto;
    align-items: center;
    gap: 32px;
  }

  #hero-cta {
    min-width: 350px;
  }
}

@media screen and (min-width: 992px) {
  #hero {
    padding: 64px 0;
  }
  #hero-children {
    flex-direction: row;
    min-height: auto;
    align-items: center;
    gap: 32px;
  }

  #hero-cta {
    max-width: 600px;
  }

  #hero-heading-text {
    font-size: 2.5rem;
  }

  #hero-subheading-text {
    line-height: 25px;
    font-size: 1rem;
  }

  #hero-img {
    max-width: 900px;
  }
}

/* Menu Section */

#food-items-container {
  padding: 64px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#food-items-container-text {
  max-width: 500px;
}

.food-item {
  display: flex;
  flex-direction: column;
  background-color: #f1f5f9;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.food-item-img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.food-item-body {
  padding: 16px;
}

.food-item-footer {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stars-img {
  width: 140px;
  margin: 8px 0;
}

.food-item-title {
  font-size: 1.1rem;
}

.food-item-description {
  font-size: 0.9rem;
  color: #64748b;
}

.order-btn {
  width: fit-content;
  padding: 10px 38px;
  background-color: #ef4444;
  color: white;
  border-radius: 8px;
  display: inline-block;
}

/* Review section */

#review-section-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 64px 32px;
}

.review {
  border: 1px solid #f1f5f9;
  padding: 16px;
  border-radius: 6px;
  min-height: 200px;
}

.review-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.review-header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.review-img {
  object-fit: cover;
  border-radius: 50%;
  height: 66px;
  width: 66px;
}

/* Newsletter section */

#newsletter {
  min-height: 200px;
  display: flex;
  background-color: #f1f5f9;
  margin: 64px 0 0 0;
}

.newsletter-inner-container {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

#subscribe-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#email-field {
  height: 48px;
  width: 100%;
  padding: 12px;
}

#subscribe-btn {
  width: 100%;
  padding: 15px 48px;
  background-color: #ef4444;
  color: white;
}

@media screen and (min-width: 768px) {
  .newsletter-inner-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  #subscribe-container {
    flex-direction: row;
  }

  #email-field {
    min-width: 300px;
  }
}

/* Footer */

.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media screen and (min-width: 574px) {
  .footer-col {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .footer-col {
    width: 20%;
  }
}

/* Shared styles */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 32px;
}

.center {
  text-align: center;
}

.section-title {
  font-size: 1.7rem;
  /* margin-bottom: 16px; */
}

.section-description {
  color: #64748b;
  font-size: 0.9rem;
  letter-spacing: 0.9px;
  line-height: 25px;
}

.extra-space {
  margin: 12px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.three-row-grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .three-row-grid {
    flex-direction: row;
  }
}
